<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://europe1.discourse-cdn.com/sonarsource/uploads/sonarcommunity/original/2X/7/7790562482bc76d328b17db864907ec4848e0a0a.png"
      alt="#"
      height="200px"
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
        <a href="#">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget
      convallis sapien. Duis finibus orci id massa scelerisque bibendum.
      Curabitur luctus diam id vestibulum tincidunt. Cras tristique magna eu
      luctus malesuada. 
    </a>
    </p>
  </div>
</div>
